<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
</style>

<div><span style='font-weight:bold;font-size:14pt' class="center">silkworm</span></div>

<img src="http://localhost:5006/silkworm/static/P20170614JB-0303-2-1920x720.jpg" alt="The White House, Washington DC" class="center">

<p class="center">Image source: <a href="https://www.whitehouse.gov/about-the-white-house/">White House</a> | License: <a href="https://www.whitehouse.gov/copyright/">Creative Commons</a></p>

<p class="center">silkworm forecasts the results of US presidential elections using the previous election results and current polling data. It gets its name from the fact that US President John Quincy Adams 'kept' silkworms (see 
<a href="http://www.presidentialpetmuseum.com/john-quincy-adams-silkworms/">Presidential Pet Museum</a>). 2020 data is sourced from <a href="https://projects.fivethirtyeight.com/polls/president-general/">FiveThirtyEight.com</a>, 2016 data and before is sourced from the Pollster API. You'll need an API key for the Pollster data if you want to retrieve 2016 and before data.</p>

<p class="center">I designed silkworm to be relatively straightforward to use, there's help on each panel and the project home page on Github has more help.</p>